/* Open Sans Regular 400 non-italic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/googlefonts/static/OpenSans-Regular.ttf') format('truetype');
}

/* Open Sans 400 Italic */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/googlefonts/static/OpenSans-Italic.ttf') format('truetype');
}

/* Open Sans Semi Bold 600 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/googlefonts/static/OpenSans-SemiBold.ttf') format('truetype');
}

/* Open Sans Bold 700 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/googlefonts/static/OpenSans-Bold.ttf') format('truetype');
}

/* Poppins Semi-Bold 600 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/googlefonts/static/Poppins-SemiBold.ttf') format('truetype');
}